@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

#container{
	margin:50px;
	background-color:rgb(106, 105, 107);
	color:white;
}

#createbtn{
	margin-bottom: 30px;
	background-color: rgb(46, 108, 133);
	color:white;
}

#cardTitle{
	font-family: 'Varela Round', sans-serif;
	font-size: 2em;
}