<br>
<br>
<div class="row match-body">
    <mat-card class=" accommodations-card col-10 col-sm-5 col-md-3" *ngFor="let candidate of candidates">
        <mat-card-header>
          <mat-card-title>
            {{candidate.name}} &nbsp; {{candidate.surname}}
          </mat-card-title>
          <mat-card-subtitle>
            {{candidate.percentage}}%
          </mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="../../assets/profile-pic.png" alt="Photo of accommodation X">
        <mat-card-content>
            <div><b>Matching skills:</b></div>
            <br>
          <div class="row">
            <div class="col-auto"  *ngFor="let skill of candidate.matchingSkills">
              {{skill.name}}: &nbsp; {{skill.percentage}}%
            </div>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary" routerLink="/matchCandidates" routerLinkActive="active">View account</button>
          <button mat-raised-button color="primary" (click)="openDialog(candidate.userId)">Invite</button>
        </mat-card-actions>
    </mat-card>    
</div>
