<mat-card class="collection-card">

    <div class = "user-name"><b>Name</b></div><div class = "user-value">{{collection.Name}}</div>
    <div class = "user-name"><b>Description</b></div><div class = "user-value">{{collection.Description}}</div>
    <div class = "user-name"><b>Weight</b></div><div class = "user-value">{{collection.Weight}}</div>
    <div class = "user-name"><b>Project</b></div><div class = "user-value">{{getProject()}}</div>

    <mat-card-actions>
        <button mat-raised-button id = "btnDelete" (click) = "onDelete(collection)">Delete</button>
    </mat-card-actions>
  </mat-card>