<mat-card id = "card">
    <div>
      <h2><b>Select Project</b></h2>

      <mat-form-field appearance="outline">
        <mat-label>Category</mat-label>
  
        <mat-select [(ngModel)]="data">
          <mat-option *ngFor="let project of ProjectData" [value]="project.ProjectId">
            {{project.Name}}
          </mat-option>
        </mat-select>
      </mat-form-field> 
  
      <div mat-dialog-actions>
        <button mat-button [mat-dialog-close] = "data" cdkFocusInitial>Ok</button>
      </div>
    </div>
  </mat-card>
