.content-body {
  min-height: 100%;
  display: block;
  background-image: linear-gradient(to bottom, #fdfbfb 100%, #ebedee 100%);
}

// .toolbar-bar {
//   padding-bottom: 50px;
//   background-color: red;
//   // background-color: #eab676;
//   // background-color: #def2f1;
// }

// .theme-back{
//   background-color: red;
// }

