<mat-card class="skill-card">
    <div class = "skill-name"><b>Name</b></div><div class = "skill-value">{{skill.name}}</div>
    <div class = "skill-name"><b>Status</b></div><div class = "skill-value">{{(skill.status == 0) ? 'Pending' : ((skill.status == 1) ? 'Accept' : 'Declined')}}</div>

    <button mat-raised-button color = "primary" id = "btnDelete" (click) = "onDelete(skill)">Delete</button>
    <button mat-raised-button color = "primary" id = "btnEdit" (click) = "onEdit()">Edit</button>


  </mat-card>
