<mat-card class="skill-card">
    <div class = "skill-name"><b>Name</b></div><div class = "skill-value">{{skill.name}}</div>
    <div class = "skill-name"><b>Status</b></div><div class = "skill-value">{{(skill.status == 0) ? 'Pending' : ((skill.status == 1) ? 'Accept' : 'Declined')}}</div>

    <button mat-mini-fab  (click) = "onDelete(skill)" class = "btndelete">
      <mat-icon>delete</mat-icon>
    </button>

    <button mat-mini-fab  (click) = "onEdit()" class = "btnedit">
      <mat-icon>edit</mat-icon>
    </button>

  </mat-card>
