SkillsHunterAPI/Migrations/
.DS_Store
SkillsHunterAPI/.vs/
SkillsHunterAPI/obj/
SkillsHunterAPI/bin/
SkillsHunterAPI/SkillsHunterAPIUnitTest/obj/
SkillsHunterAPI/SkillsHunterAPIUnitTest/bin/

SkillsHunterAPI/.vs/SkillsHunterAPI/v16/.suo
SkillsHunterAPI/.vs/SkillsHunterAPI/DesignTimeBuild/.dtbcache.v2
