
<h1>Skill Collection Control</h1>

<mat-card id = "card">

    <form class="form-inline" (ngSubmit) = "Search()">
        <input class="form-control" type="text" placeholder="Search Skill Collection" aria-label="Search"
        mdbInput id = "user-searchbar" name = "searchTerm" [(ngModel)]  = "searchTerm">
    </form>
    
    <div id = "btnUserGroup">
        <button mat-raised-button id = "btnAdvanced" (click) = "advancedSearch()">Advanced Search</button>
        <button mat-raised-button id = "btnViewAll" (click)="viewAll()">View All</button>
        <button mat-raised-button color="primary" id = "btnAdd">New</button>
    </div>

    <app-skill-collection-card *ngFor = "let collection of data" [collection] = "collection" class = "collection-info" (onDeleteCollection)="deleteCollection(collection)"></app-skill-collection-card>
</mat-card>