<h1>Skill Collection Control</h1>

<mat-card id = "card">

    <form class="form-inline">
        <input class="form-control" type="text" placeholder="Search User" aria-label="Search"
        mdbInput id = "user-searchbar">
    </form>
    
    <div id = "btnUserGroup">
        <button mat-raised-button id = "btnAdvanced">Advanced Search</button>
        <button mat-raised-button id = "btnViewAll">View All</button>
        <button mat-raised-button color="primary" id = "btnAdd">New</button>
    </div>
</mat-card>