


<mat-card id = "card">
    <h1 style = "color:black">Skill Collection</h1>
    <form class="form-inline user-searchbar" (ngSubmit) = "Search()">
        <mat-form-field appearance="outline" style = "width: 100%">
            <input
              matInput
              placeholder="Search User"
              class = "user-searchbar"
              [(ngModel)]  = "searchTerm"
              name = "searchTerm"
            />
        </mat-form-field>
    </form>
    
    <div id = "btnUserGroup">
        <button mat-raised-button color = "primary" id = "btnAdvanced" (click) = "advancedSearch()">Advanced Search</button>
        <button mat-raised-button color = "primary" id = "btnViewAll" (click)="viewAll()">View All</button>
        <button mat-raised-button color="primary" id = "btnAdd">New</button>
    </div>

    <app-skill-collection-card *ngFor = "let collection of data" [collection] = "collection" class = "collection-info" (onDeleteCollection)="deleteCollection(collection)"></app-skill-collection-card>
</mat-card>