<div class = "container">
    <div class = "row">
        <div class = "col-sm-4">
            <app-sidebar></app-sidebar>
        </div>
        <div class = "col-sm-8">

<h1>Category Control</h1>

<mat-card id = "card">

    <form class="form-inline">
        <input class="form-control" type="text" placeholder="Search User" aria-label="Search"
        mdbInput id = "user-searchbar">
    </form>
    
    <div id = "btnUserGroup">
        <button mat-raised-button id = "btnViewAll" (click)="viewAll()">View All</button>
        <button mat-raised-button color="primary" id = "btnAdd" (click)="add()">New</button>
    </div>

    <app-category-card *ngFor = "let category of data" [category] = "category" class = "user-info" (onDeleteCategory)="deleteCategory(category)"></app-category-card>
</mat-card>
</div>
</div>
</div>
