

<mat-card id = "card">
    <h1 style = "color:black">Category</h1>
    <form class="form-inline user-searchbar" (ngSubmit) = "Search()">
        <mat-form-field appearance="outline" style = "width: 100%">
            <input
              matInput
              placeholder="Search User"
              class = "user-searchbar"
              [(ngModel)]  = "searchTerm"
              name = "searchTerm"
            />
        </mat-form-field>
    </form>
    
    <div id = "btnUserGroup">
        <button mat-raised-button color = "primary" id = "btnViewAll" (click)="viewAll()">View All</button>
        <button mat-raised-button color = "primary" id = "btnAdd" (click)="add()">New</button>
    </div>

    <app-category-card *ngFor = "let category of data" [category] = "category" class = "user-info" (onDeleteCategory)="deleteCategory(category)"></app-category-card>
</mat-card>
