
<div id="Side-nav">
    <mat-nav-list>
      
        <div id="adminlist">
          <!--<li><a routerLink = "/statistics"><b>Statistics</b></a></li>-->
          <a mat-list-item routerLink = "/user-control"><strong>User Control</strong></a>
          <a mat-list-item routerLink = "/project-control"><strong>Project Control</strong></a>
          <a mat-list-item routerLink = "/skill-control"><strong>Skill Control</strong></a>
          <a mat-list-item routerLink = "/category-control"><strong>Category Control</strong></a>
          <a mat-list-item routerLink = "/skill-collection-control"><strong>Skill Collection Control</strong></a>
        </div>
        <div id="userlist">
          <!--<li><a routerLink = "/statistics"><b>Statistics</b></a></li>-->
          <a mat-list-item routerLink = "/home"><strong>Projects</strong></a>
          <a mat-list-item routerLink = "/profile"><strong>Profile</strong></a>
          
        </div>
      </mat-nav-list>
</div>