
<div id="Side-nav">
    <mat-nav-list>
      
        <div id="adminlist">
          <!--<li><a routerLink = "/statistics"><b>Statistics</b></a></li>-->
          <a mat-list-item routerLink = "/user-control"><strong>User Control</strong></a>
          <a mat-list-item routerLink = "/projectManagement"><strong>Project Management</strong></a>
          <a mat-list-item routerLink = "/skillManagement"><strong>Skill Management</strong></a>
          <a mat-list-item routerLink = "/categoryManagement"><strong>Category Management</strong></a>
          <a mat-list-item routerLink = "/skill-collection-control"><strong>Skill Collection Management</strong></a>
        </div>
        <div id="userlist">
          <!--<li><a routerLink = "/statistics"><b>Statistics</b></a></li>-->
          <a mat-list-item routerLink = "/home"><strong>Projects</strong></a>
          <a mat-list-item routerLink = "/profile"><strong>Profile</strong></a>
          
        </div>
      </mat-nav-list>
</div>