<div class="inviteCandidateContainer">
<h1>Invite Candidate</h1>
<form [formGroup]="invitationForm" (ngSubmit)="onSubmit()" id="inviteForm">
  <mat-form-field>
    <mat-label>Please provide an invitation message (optional) </mat-label>
    <textarea class="inviteCandidateInput" matInput placeholder="Invitation Message"></textarea>
  </mat-form-field>
  <br />
</form>

<div class="inviteCandidateActions">
<button
(click)="onSubmit()"
  id="inviteCandidateSend"
  class="btn btn-primary"
  type="submit"
  value="submit"
>
  Send</button
>
&nbsp;
    <button id="inviteCandidateCancel" class="btn btn-danger" (click)="cancel()">
      Cancel
    </button>
  </div>
</div>