#inviteCandidateCancel {
  height: 60px;
    float: right;
    width: 200px;
  }
  
  #inviteForm{
    width: 400px;
  }

  #inviteCandidateSend {
    height: 60px;
    float: left;
    width: 200px;
  }
  
  .inviteCandidateActions {
    margin-bottom: 10px;
    padding-top: 20px;
  }
  
  .inviteCandidateInput {
    width: max-content;
    padding: 20px;
    background-color: aquamarine;
  }
  
  .inviteCandidateContainer{
    background-color: white;
    // width: 700px;
    // height: 350px;
  }