<mat-toolbar class="row">
    <div class="col-2 col-sm-auto">
      <button mat-icon-button class="icon" (click)= "inputDrawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
      
      <div class="col-10 col-sm-auto">
        SkillsHunter
      </div>
  
      <div class="col col-sm-auto">
        <a mat-button routerLink="/login" routerLinkActive="active">Login</a>
      </div>
      <div class="col col-sm-auto">
        <a mat-button routerLink="/signup" routerLinkActive="active">Signup</a>
      </div>
  </mat-toolbar>