<div id="searchPanel">
    <label> Search Candidates </label>

    <div>
<!-- <input [(ngModel)]="candidateName"> -->
        <div class="filterDIV">
            <input>
        </div>
        
        <div class="filterDIV">
        <mat-form-field appearance="fill">
        <mat-label>Filter Using</mat-label>
        <select matNativeControl required>
            <option value="Name">Name</option>
            <option value="Job">Job</option>
            <option value="Description">Description</option>
            <option value="Skills">Skills</option>
        </select>
        </mat-form-field>
        </div>
    </div>
</div>

<!-- <app-candidate-card *ngFor = "let candidate of candidatesList | searchAndFilterCandidate:'Painter':'job'" [card_candidate]="candidate"></app-candidate-card> -->

<app-candidate-card *ngFor = "let candidate of candidatesList | searchAndFilterCandidate:'':'job'" [card_candidate]="candidate"></app-candidate-card>

<!-- <form class="example-form">  
    <mat-form-field class="example-full-width">
      <mat-label>Search for a Candidate</mat-label>
      <textarea matInput placeholder="Candidate..."></textarea>
    </mat-form-field>
</form> -->

