<div class = "container">
    <div class = "row">
        <div class = "col-sm-4">
            <app-sidebar></app-sidebar>
        </div>
        <div class = "col-sm-8">

<h1>User Control</h1>

<mat-card id = "card">

    <form class="form-inline" (ngSubmit) = "Search()">
        <input class="form-control" type="text" placeholder="Search User" aria-label="Search"
        mdbInput id = "user-searchbar"  name = "searchTerm" [(ngModel)]  = "searchTerm">
    </form>
    
    <div id = "btnUserGroup">
        <button mat-raised-button id = "btnAdvanced" (click)="advancedSearch()">Advanced Search</button>
        <button mat-raised-button id = "btnViewAll" (click)="viewAll()">View All</button>
    </div>

    
    <app-user-card *ngFor = "let user of data" [user] = "user" class = "user-info" (onDeleteUser)="deleteUser(user)"></app-user-card>

</mat-card>
</div>
</div>
</div>
