<div class = "container">
    <div class = "row">
        <div class = "col-sm-4">
            <app-sidebar></app-sidebar>
        </div>
        <div class = "col-sm-8">

<h1>User Control</h1>

<mat-card id = "card">

    <form class="form-inline">
        <input class="form-control" type="text" placeholder="Search User" aria-label="Search"
        mdbInput id = "user-searchbar">
    </form>
    
    <div id = "btnUserGroup">
        <button mat-raised-button id = "btnAdvanced">Advanced Search</button>
        <button mat-raised-button id = "btnViewAll">View All</button>
    </div>
</mat-card>
</div>
</div>
</div>
