

<mat-card id = "card">
    <h1 style = "color: black"><b>User</b></h1>
    <form class="form-inline user-searchbar" (ngSubmit) = "Search()" (keyup.enter)="Search()">
        <mat-form-field appearance="outline" style = "width: 100%">
            <input
              matInput
              placeholder="Search User"
              class = "user-searchbar"
              [(ngModel)]  = "searchTerm"
              name = "searchTerm"

              
            />
        </mat-form-field>
    </form>
    
    <div id = "btnUserGroup">
        <button mat-raised-button color="primary" id = "btnAdvanced" (click)="advancedSearch()">Advanced Search</button>
        <button mat-raised-button color="primary" id = "btnViewAll" (click)="viewAll()">View All</button>
    </div>

    <!--<app-user-card fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor = "let user of data" [user] = "user" class = "user-info"  (onDeleteUser)="deleteUser(user)"></app-user-card>-->
    
    
    <div class="content">
        <div fxLayout="row wrap" fxLayoutGap="16px grid">
          <div fxFlex="25%" fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="33.33%" *ngFor = "let user of data">
            <app-user-card class="mat-elevation-z4"  [user] = "user" (onDeleteUser)="deleteUser(user)">

            </app-user-card >
          </div>
        </div>
    </div>

</mat-card>
