<div clas="page-body">
    <div class="card-container">
        <mat-card class="row">
            <mat-card-title class="col-12">Signup</mat-card-title>
            <mat-card-content class="col-10 offset-1">
              <form class="row" >
                <mat-form-field class="col-12" >
                  <input matInput placeholder="First name">
                </mat-form-field>
    
                <mat-form-field class="col-12">
                    <input matInput placeholder="Last name">
                </mat-form-field>
    
                <mat-form-field class="col-12">
                    <input matInput placeholder="Phone number">
                </mat-form-field>
    
                <mat-form-field class="col-12">
                    <input matInput type="email" placeholder="email address">
                </mat-form-field>
              
                <mat-form-field class="col-12">
                    <input matInput type="password" placeholder="Password"  >
                </mat-form-field>

                <mat-form-field  class="col-12">
                    <mat-label>Select</mat-label>
                    <mat-select>
                      <mat-option value=0>Candidate</mat-option>
                      <mat-option value=1>Project Owner</mat-option>
                    </mat-select>
                  </mat-form-field>
    
                  <button mat-raised-button type="submit" class="form-submit-button">Create account</button>
    
                  <div>Have an accout? &nbsp;<a routerLink="/login" >login</a></div>
              </form>
            </mat-card-content>
        </mat-card>
      </div>
</div>