.candidate-card {
  max-width: 450px;
}

.candidate-invite {
  width: 100%;
  margin-left: 25%;
  margin-right: 25%;
}

.candidate-menu-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}

.candidate-menu-spacer {
  flex: 1 1 auto;
}
