<div>
	<app-candidate-item *ngFor = "let candidate of _candidates" [_candidates] = "candidate"></app-candidate-item>
</div>

  <!-- <mat-card class="candidate-card">
    
    <mat-card-header>
      <div mat-card-avatar class="candidate-menu-header-image"></div>
      <mat-card-title>Aston French</mat-card-title>
      <mat-card-subtitle>Painter</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
        <p>
            An artist with the brush.
        </p>
    </mat-card-content>

    <mat-card class="candidate-card-skills">
        <mat-card-title>Skills</mat-card-title>
        <mat-chip-list aria-label="Candidate Skills">
            <mat-chip color="primary" selected>Painting</mat-chip>
            <mat-chip color="primary" >Carpentry</mat-chip> 
            <mat-chip color="primary" >Plumbing</mat-chip>
            <mat-chip color="primary" >CAD Software</mat-chip>
            <mat-chip color="primary" selected>Drilling</mat-chip>
            <mat-chip color="primary" >Architecture</mat-chip>
        </mat-chip-list>        
    </mat-card>

    <mat-card-actions>
            <button class="candidate-invite" mat-raised-button color="accent">Invite To Project</button>
    </mat-card-actions>
  </mat-card> -->
