<mat-card class="user-card">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image" (click) = "displayImage()"></div>
      <mat-card-title>{{user.name}} {{user.surname}}</mat-card-title>
      <mat-card-subtitle><a href = "mailto:user.email" style = "text-decoration:none;">{{user.email}}</a></mat-card-subtitle>
    </mat-card-header>
    
    <mat-card-content>
        <div class = "user-name"><b>Contacts</b></div><div class = "user-value">{{user.phone}}</div>
        <div class = "user-name"><b>Start Date</b></div><div class = "user-value">{{user.startdate}}</div>
        <div class = "user-name"><b>Open</b></div><div class = "user-value">{{user.openforwork ? "Yes" : "No"}}</div>
        <div class = "user-name"><b>User Type</b></div><div class = "user-value">{{userTypes[user.usertype]}}</div>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button id = "btnSkills" (click) = "showSkills()">Delete</button>
        <button mat-raised-button id = "btnDelete" (click) = "onDelete(user)">Delete</button>
    </mat-card-actions>
  </mat-card>
