<mat-card class="user-card mat-elevation-z4">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image" (click) = "displayImage()" [ngStyle]="{'background-image': 'url(' + imageUrl + ')','background-size':'cover'}"></div>
      <mat-card-title class = "card-title text-oneline">{{user.name}} {{user.surname}}</mat-card-title>
      <mat-card-subtitle class = "card-email">{{user.email}}</mat-card-subtitle>
    </mat-card-header>
    
    <mat-card-content>
        <div class = "user-name"><b>Contacts</b></div><div class = "user-value">{{user.phone}}</div>
        <div class = "user-name"><b>Start Date</b></div><div class = "user-value">{{user.startDate}}</div>
        <div class = "user-name"><b>Open</b></div><div class = "user-value">{{user.openForWork ? "Yes" : "No"}}</div>
        <div class = "user-name"><b>User Type</b></div><div class = "user-value">{{userTypes[user.userType]}}</div>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button id = "btnSkills">
          <mat-icon>view_list</mat-icon>skills
        </button>
        <button mat-raised-button id = "btnMessage">
          <mat-icon>message</mat-icon>message
        </button>
        <!--<button mat-raised-button id = "btnDelete" (click) = "onDelete(user)">Delete</button>-->
    </mat-card-actions>
  </mat-card>
