<div class="page-body">
    <div class="card-container">
      <mat-card class="row">
          <mat-card-title class="col-12">Login</mat-card-title>
          <mat-card-content class="col-10 offset-1">
            <form class="row" >
    
              <mat-form-field class="col-12">
                  <input matInput type="email" placeholder="email address">
              </mat-form-field>
            
              <mat-form-field class="col-12">
                  <input matInput type="password" placeholder="Password"  >
              </mat-form-field>
    
                <button mat-raised-button type="submit" class="form-submit-button">Login account</button>
    
                <a routerLink="" >Forgot password?</a>
                <a routerLink="/signup" >Create account</a>
            </form>
          </mat-card-content>
      </mat-card>
    </div>
  </div>