
      <div  id="formDiv">
        <!--<div class="card-panel teal lighten-2">
          <h4 class="center white-text">Image Library</h4>
        </div>-->
        <form #imageForm=ngForm (ngSubmit)="upload(Image)" id="formCont" >
        
          <img [src]="imageUrl" id="popupImg" alt="profile img"><br>
          <label for="imgInput" id="lbl">Upload new image:</label><br>
          <input id="imgInput" type="file" #Image accept="image/*" (change)="handleFileInput($event.target.files)">
          <button id="left" type="submit" class="btn-large btn-submit" [disabled]="Image.value=='' || !imageForm.valid">
              <span class="material-icons-outlined">
                file_upload
                </span>
            </button>
        </form>
      </div>
    