mat-drawer-container{
    /*background-image: url('./../assets/NoviceSphereLogo.jpeg');*/
    background-color: var(--lightGrey);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin:0;
    height: 100%;
    width: 100%;
    color: black;
}

mat-drawer{
    background-color: var(--first-Color) ;
}

/*app-tool-bar{
    position: relative;
}*/

#container-fluid{
    width: 100%;
    height: 100%
}

mat-drawer-content{
    background-color: var(--lightGrey);
}
app-side-nav{
    width: 100%;
}