<h1>Skill</h1>
 
<mat-card id = "card">

    <form class="form-inline" (ngSubmit) = "Search()">
        <input class="form-control" type="text" placeholder="Search Skill" aria-label="Search"
        mdbInput id = "user-searchbar"  name = "searchTerm" [(ngModel)]  = "searchTerm">
    </form>
    
    <div id = "btnUserGroup">
        <button mat-raised-button id = "btnAdvanced" (click) = "advancedSearch()">Advanced Search</button>
        <button mat-raised-button id = "btnViewAll" (click) = "viewAll()">View All</button>
        <button mat-raised-button color="primary" id = "btnAdd" (click) = "newSKill()">New</button>
    </div>

    <app-skill-card *ngFor = "let skill of data" [skill] = "skill" class = "user-info" (onDeleteUser)="deleteUser(skill)"></app-skill-card>
</mat-card>