<div class = "container">
    <div class = "row">
        <div class = "col-sm-4">
            <app-sidebar></app-sidebar>
        </div>
        <div class = "col-sm-8">
<h1>Skill Control</h1>

<mat-card id = "card">

    <form class="form-inline">
        <input class="form-control" type="text" placeholder="Search Skill" aria-label="Search"
        mdbInput id = "user-searchbar">
    </form>
    
    <div id = "btnUserGroup">
        <button mat-raised-button id = "btnAdvanced">Advanced Search</button>
        <button mat-raised-button id = "btnViewAll" (click)="viewAll()">View All</button>
        <button mat-raised-button color="primary" id = "btnAdd">New</button>
    </div>

    <app-skill-card *ngFor = "let skill of data" [skill] = "skill" class = "user-info" (onDeleteUser)="deleteUser(skill)"></app-skill-card>
</mat-card>
</div>
</div> 
</div>