<div class="card bg-gradient-danger card-img-holder text-white">
  <div class="card-body rounded bg-gradient-info p-0">
      <img src="assets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image"/>
      <p class="mt-3 ml-3"><b>Name</b></p>
      <p class="card-description ml-3">{{project.name}}</p>
      <p class="ml-3"><b>Description</b></p>
      <p class="card-description ml-3">{{project.description}}</p>
      <p class="ml-3"><b>Owner</b></p>
      <p class="card-description ml-3">{{Owner}}</p>
      <p class="ml-3"><b>Open</b></p>
      <p class="card-description ml-3">{{project.openForApplication ? 'Yes' : 'No'}}</p>
  </div>
</div>