<mat-card class="project-card">

        <div class = "user-name"><b>Name</b></div><div class = "user-value">{{project.name}}</div>
        <div class = "user-name"><b>Description</b></div><div class = "user-value">{{project.description}}</div>
        <div class = "user-name"><b>Owner</b></div><div class = "user-value">{{project.owner}}</div>
        <div class = "user-name"><b>Open</b></div><div class = "user-value">{{project.openForApplication ? "Yes" : "No"}}</div>

        <!--<button mat-raised-button id = "btnSkills" (click) = "showSkills()">skills</button>>-->
</mat-card> 
 