<div class="container">
  <div class="row">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a
                href="#"
                class="dropdown-toggle"
                data-toggle="dropdown"
                role="button"
                aria-haspopup="true"
                aria-expanded="false"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-envelope-fill envelope-icon"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555zM0 4.697v7.104l5.803-3.558L0 4.697zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757zm3.436-.586L16 11.801V4.697l-5.803 3.546z"
                  />
                </svg>
                (<b>2</b>)
              </a>

              <ul class="dropdown-menu notify-drop menu-notify">
                <div class="notify-drop-title">
                  <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-6">
                      New Messages (<b>2</b>)
                    </div>
                  </div>
                </div>
                <!-- end notify title -->
                <!-- notify content -->
                <div class="drop-content">
                  <li>
                    <div class="col-md-3 col-sm-3 col-xs-3">
                      <div class="notify-img">
                        <img src="http://placehold.it/45x45" alt="" />
                      </div>
                    </div>
                    <div class="col-md-9 col-sm-9 col-xs-9 pd-l0">
                      Application
                      <p>
                        <span class="profile-link">Joseph</span> has applied for
                        project skills hunter
                      </p>
                      <p class="time">View</p>
                    </div>
                  </li>

                  <li>
                    <div class="col-md-3 col-sm-3 col-xs-3">
                      <div class="notify-img">
                        <img src="http://placehold.it/45x45" alt="" />
                      </div>
                    </div>
                    <div class="col-md-9 col-sm-9 col-xs-9 pd-l0">
                      Warning
                      <p>System administrator has send a warning</p>
                      <p class="time">View</p>
                    </div>
                  </li>
                </div>
                <div class="notify-drop-footer text-center">
                  <a href="">Show all notifications</a>
                </div>
              </ul>
            </li>
          </ul>
        </div>
        <!-- /.navbar-collapse -->
      </div>
      <!-- /.container-fluid -->
    </nav>
  </div>
</div>
