.category-card{
    box-shadow: 2px 2px 10px;
    height:250px;
    overflow-y: scroll;
}


.category-name{
    font-family: "Lucida Console", "Courier New", monospace;
    font-weight: bold;
    font-size: 1em;  
}

.category-value{
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 0.9em;
    margin-top: 2px;      
}

.btndelete{
    background-color: #eb4634;
    font-family: "Lucida Console", "Courier New", monospace;

}

.btnedit{
    margin-left: 10px;
    background-color: #818a84;
    font-family: "Lucida Console", "Courier New", monospace;
}

.btnaction{
    position: absolute;
    bottom:5px;
}