.itemContainer {
  margin-bottom: 20px;
}

.btnProject {
  margin: 10px 20px 0px 0px;
  // background-color: rgb(46, 108, 133);
  background-color: #f5d142;
  // color:white;
}

.project-card {
  border-radius: 10px;
  color: #003333;
  background-image: linear-gradient(90deg, #f5e6cc 0%, #ebedee 100%);
  box-shadow: 2px 2px 5px grey;
  margin: 20px;
  display: inline-block;
}

.buttonActions {
  display: inline-block;
}

:root {
  --visFind: flex;
  --visDelete: flex;
  --visUpdate: flex;
  --visAppl: flex;
  --visCancel: flex;
}
.card-project-find {
  float: left;
  width: 140px;
  display: var(--visFind);
}

.card-project-delete {
  float: none;
  left: 5%;
  width: 140px;
  display: var(--visDelete);
}

.card-project-update {
  float: right;
  width: 140px;
  display: var(--visUpdate);
}

.card-project-apply {
  display: var(--visAppl);
}

.card-project-cancelappl {
  display: var(--visCancel);
}

.project-card-skills {
  background-color: #00b3b3;
}

.project-menu-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}

::ng-deep .custom-modalbox {
  mat-dialog-container {
    padding: 0;
  }
}
