<mat-tab-group mat-align-tabs="center">
  <!-- Candidate  -->
  <mat-tab label="Applications Sent To Recruiters"> </mat-tab>

  <mat-tab label="Invitations Received from Recruiters">
    <mat-form-field>
      <input
        matInput
        (keyup)="applyFilter($event.target.value)"
        placeholder="Filter Invitations"
      />
    </mat-form-field>

    <div class="example-container mat-elevation-z8">
      <table mat-table [dataSource]="dataSource">
        <!-- Project Column -->
        <!-- <ng-container matColumnDef="project_name">
        <th mat-header-cell *matHeaderCellDef>Project Name</th>
        <td mat-cell *matCellDef="let element">{{ element.projectName }}</td>
      </ng-container> -->

        <!-- Date Column -->
        <ng-container matColumnDef="invitation_date">
          <th mat-header-cell *matHeaderCellDef>Invitation Date</th>
          <td mat-cell *matCellDef="let element">
            {{ element.inviteDate | date: "short" }}
          </td>
        </ng-container>

        <!-- Message Column -->
        <ng-container matColumnDef="invitation_message">
          <th mat-header-cell *matHeaderCellDef>Invitation Message</th>
          <td mat-cell *matCellDef="let element">{{ element.message }}</td>
        </ng-container>

        <tr
          mat-header-row
          *matHeaderRowDef="displayedColumns; sticky: true"
        ></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: displayedColumns"
          (click)="showInvitation(row)"
        ></tr>
      </table>
    </div>
  </mat-tab>

  <!-- Project Owner -->
  <mat-tab label="Applications Received from Candidates">
    <!-- <div class="container">
      <app-candidate-card
        *ngFor="let candidate of candidatesList"
        [card_candidate]="candidate"
        [selected_project]="projectId"
      ></app-candidate-card></div
  > -->
  </mat-tab>

  <mat-tab label="Invitations Sent to Candidates">
    <mat-form-field>
      <input
        matInput
        (keyup)="applyFilter($event.target.value)"
        placeholder="Filter Invitations"
      />
    </mat-form-field>

    <div class="example-container mat-elevation-z8">
      <table mat-table [dataSource]="dataSource">
        <!-- Project Column -->
        <!-- <ng-container matColumnDef="project_name">
        <th mat-header-cell *matHeaderCellDef>Project Name</th>
        <td mat-cell *matCellDef="let element">{{ element.projectName }}</td>
      </ng-container> -->

        <!-- Date Column -->
        <ng-container matColumnDef="invitation_date">
          <th mat-header-cell *matHeaderCellDef>Invitation Date</th>
          <td mat-cell *matCellDef="let element">
            {{ element.inviteDate | date: "short" }}
          </td>
        </ng-container>

        <!-- Message Column -->
        <ng-container matColumnDef="invitation_message">
          <th mat-header-cell *matHeaderCellDef>Invitation Message</th>
          <td mat-cell *matCellDef="let element">{{ element.message }}</td>
        </ng-container>

        <tr
          mat-header-row
          *matHeaderRowDef="displayedColumns; sticky: true"
        ></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: displayedColumns"
          (click)="showInvitation(row)"
        ></tr>
      </table>
    </div>
  </mat-tab>
</mat-tab-group>
