
<div class="management-body">
    <button mat-raised-button color="primary" (click)="openCreateProjectDialog()">Create Project</button><br><br>
    <div class="row projects">
        <div class="col-12 col-md-4" *ngFor="let project of projects;">
          <mat-accordion class="project-expansion-pannel">
            <mat-expansion-panel (opened)="projectPanelOpenState = true"
                                 (closed)="projectPanelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{project.name}}
                </mat-panel-title>
                <mat-panel-description>
                  {{project.description}}
                </mat-panel-description>
              </mat-expansion-panel-header>
              <div class="row">
                <div class="col-12 mb-2"><b>Skills:</b></div>
                <div class="col-auto" *ngFor="let skill of project.projectSkills.skills;">
                  {{skill.name}}
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-12 mb-2"><b>Skill collections:</b></div>
                <div class="col-12 mb-2" *ngFor="let skillCollection of project.projectSkills.skillCollections;">
                  <mat-accordion>
                    <mat-expansion-panel (opened)="collectionPanelOpenState = true"
                                         (closed)="collectionPanelOpenState = false">
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          {{skillCollection.name}}
                        </mat-panel-title>
                        <mat-panel-description>
                          {{skillCollection.skills.length}}
                        </mat-panel-description>
                      </mat-expansion-panel-header>
                      <div class="row">
                        <div class="col-auto" *ngFor="let skill of skillCollection.skills;">{{skill.name}}</div>
                      </div>
                    </mat-expansion-panel>
                  </mat-accordion>
                </div>
              </div>
              <div class="row">
                <button class="col-auto" mat-raised-button color="warn">Remove</button>
                <button class="col-auto" mat-raised-button color="accent">Update</button>
                <button class="col-auto" mat-raised-button color="accent" (click)="onMatch(project.projectId)">Match candidates</button>
              </div>
            </mat-expansion-panel>
          </mat-accordion>
          <br>
        </div>
    </div>
</div>