<mat-card id = "card">
    <div>
      <h2><b>Select Status</b></h2>
      <mat-radio-group
        aria-labelledby="example-radio-group-label"
        class="example-radio-group"
        [(ngModel)]="data.status">
        <mat-radio-button class="example-radio-button"  [value]="0">
            Accepted
        </mat-radio-button><br><br>
        <mat-radio-button class="example-radio-button"  [value]="1">
            Pending
        </mat-radio-button><br><br>
        <mat-radio-button class="example-radio-button"  [value]="2">
            Declined
        </mat-radio-button><br><br>
      </mat-radio-group>

      <h2><b>Select Category</b></h2>

      <mat-form-field appearance="outline">
        <mat-label>Category</mat-label>
  
        <mat-select [(ngModel)]="data.categoryId">
          <mat-option *ngFor="let cat of Categories" [value]="cat.categoryid">
            {{cat.name}}
          </mat-option>
        </mat-select>
      </mat-form-field> 
  
      <div mat-dialog-actions>
        <button mat-button [mat-dialog-close] = "data" cdkFocusInitial>Ok</button>
      </div>
    </div>
  </mat-card>