
#card{
    background-color: #e6ffff;
}

#userbar{
    margin-top: 10px;
}

.Numbers{
    width: 95%;
    margin-top: 10px;
    height: 30px;
}

.Percentage{
    float: left;
}

.Actual{
    float: right;
}
