<div class = "container">
  <div class = "row">
      <div class = "col-sm-4">
          <app-sidebar></app-sidebar>
      </div>
      <div class = "col-sm-8">
        
<h1>Statistics</h1>

<mat-card id = "card">
    <h2>Users</h2>

    <mat-card class = "statIO">
        <form (ngSubmit) = "onUserfilter()">
            
            <mat-form-field appearance="outline">
                <mat-label>select user type</mat-label>
                
                <mat-select>
                  <mat-option *ngFor="let cat of UserTypes" [value]="cat.value" [(ngModel)] = "inputUserType">
                    {{cat.text}}
                  </mat-option>
                </mat-select>
            </mat-form-field>
        </form>

        <app-stats-bar [barValue] = "userValues.barValue" [maximum] = "userValues.maximum" [numerator] = "userValues.numerator"></app-stats-bar>
    
      </mat-card>

    <h2>Projects</h2>

    <mat-card class = "statIO">
      <form (ngSubmit) = "onProjectfilter()">
        <mat-slide-toggle ngModel name="OpenForWork" [(ngModel)] = "inputProjectOpen">Open</mat-slide-toggle>
      </form>

      <app-stats-bar [barValue] = "projectValues.barValue" [maximum] = "projectValues.maximum" [numerator] = "projectValues.numerator"></app-stats-bar>

    </mat-card>

    <h2>Skills</h2>

    <mat-card class = "statIO">

      <form (ngSubmit) = "onSkillfilter()">
            
        <mat-form-field appearance="outline">
            <mat-label>select category</mat-label>
            
            <mat-select [(ngModel)] = "inputSkillCategory">
              <mat-option *ngFor="let cat of UserTypes" [value]="cat.value">
                {{cat.text}}
              </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" style = "float:right">
          <mat-label>select status</mat-label>
          
          <mat-select [(ngModel)] = "inputSkillStatus">
            <mat-option *ngFor="let cat of Status" [value]="cat.value">
              {{cat.text}}
            </mat-option>
          </mat-select>
      </mat-form-field>
      
      </form>

      <app-stats-bar [barValue] = "skillValues.barValue" [maximum] = "skillValues.maximum" [numerator] = "skillValues.numerator"></app-stats-bar>

    </mat-card>


    <h2>Applications</h2>
    <mat-card class = "statIO">
    
    <form>
      <mat-form-field appearance="outline">
      <mat-label>select status</mat-label>

      <mat-select>
        <mat-option *ngFor="let cat of Status" [value]="cat.value">
          {{cat.text}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  
  </form>

  <app-stats-bar [barValue] = "applicationValues.barValue" [maximum] = "applicationValues.maximum" [numerator] = "applicationValues.numerator"></app-stats-bar>      
    </mat-card>
</mat-card>
</div>
</div>
</div>