<div class="page-header">
  <h3 class="page-title">
    General
  </h3>
</div>

<div class="row">
  <div class="col-md-3 stretch-card grid-margin" style = "height: 130px">
    <div class="card bg-gradient-danger card-img-holder text-white">
      <div class="card-body">
        <img src="assets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image"/>
        <h4 class="font-weight-normal mb-3">Users
          <i class="mdi mdi-account mdi-24px float-right"></i>
        </h4>
        <h2 class="mb-5">{{users.length}}</h2>
      </div>
    </div>
  </div>
  <div class="col-md-3 stretch-card grid-margin" style = "height: 130px">
    <div class="card bg-gradient-info card-img-holder text-white">
      <div class="card-body">
        <img src="assets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image"/>                  
        <h4 class="font-weight-normal mb-3">Projects
          <i class="mdi mdi-file-multiple mdi-24px float-right"></i>
        </h4>
        <h2 class="mb-5">{{projects.length}}</h2>
      </div>
    </div>
  </div>
  <div class="col-md-3 stretch-card grid-margin" style = "height: 130px">
    <div class="card bg-gradient-success card-img-holder text-white">
      <div class="card-body">
        <img src="assets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image"/>                                    
        <h4 class="font-weight-normal mb-3">Categories
          <i class="mdi mdi-group mdi-24px float-right"></i>
        </h4>
        <h2 class="mb-5">{{categories.length}}</h2>
      </div>
    </div>
  </div>

   <div class="col-md-3 stretch-card grid-margin" style = "height: 130px">
    <div class="card bg-gradient-warning card-img-holder text-white">
      <div class="card-body">
        <img src="assets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image"/>                                    
        <h4 class="font-weight-normal mb-3">Skills
          <i class="mdi mdi-star mdi-24px float-right"></i>
        </h4>
        <h2 class="mb-5">{{skills.length}}</h2>
      </div>
    </div>
  </div>

   <div class="col-md-3 stretch-card grid-margin" style = "height: 130px">
    <div class="card bg-gradient-secondary card-img-holder text-white">
      <div class="card-body">
        <img src="assets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image"/>                                    
        <h4 class="font-weight-normal mb-3">Skill Collections
          <i class="mdi mdi-layers mdi-24px float-right"></i>
        </h4>
        <h2 class="mb-5">n/a</h2>
      </div>
    </div>
  </div>

</div>