

<mat-vertical-stepper linear>
    <mat-step label="Provide the Skill Name" completed=true> 
        <div>

            <mat-form-field appearance="outline">
                <mat-label>Skill Name</mat-label>
                <input matInput placeholder="C++" required>
                <mat-icon matSuffix>text_fields</mat-icon>
            </mat-form-field>

            <br>
            <button mat-button matStepperNext>Next</button>
        </div>
    </mat-step>

    <mat-step label="Provide the Skill Weight" completed=true> 
        <div class="stepping"> 
                    <br>
        <mat-slider
        thumbLabel
        tickInterval="1"
        step="1"
        min="0"
        max="10"
        aria-label="units">
        </mat-slider>

        <br>

            <button mat-button matStepperBack>Back</button>
            <button mat-button matStepperNext>Next</button>
        </div>
    </mat-step>

    <mat-step label="Provide the Skill Category" completed=true> 
        <div>
            <button mat-button matStepperBack>Back</button>
            <button mat-button matStepperNext>Next</button>
        </div>
    </mat-step>
  
</mat-vertical-stepper>