.candidate-card {
  color: #003333;
  width: 300px;
  background-color: #e6ffff;
  margin: 20px;
  display: inline-block;
  // float: left;
  // width: 25%;
}

.candidate-card-skills {
  background-color: #00b3b3;
}

.candidate-invite {
  width: 100%;
  margin-left: 25%;
  margin-right: 25%;
}

.candidate-menu-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}
