<div class = "sidenav">
  <div class = "header-container">
    <div class = "simple-text header-normal">Dashboard</div>
  </div>

  <ul class = "nav">
    <li><a routerLink = "/statistics"><b>Statistics</b></a></li>
    <li><a routerLink = "/user-control"><b>User Control</b></a></li>
    <li><a routerLink = "/project-control"><b>Project Control</b></a></li>
    <li><a routerLink = "/skill-control"><b>Skill Control</b></a></li>
    <li><a routerLink = "/category-control"><b>Category Control</b></a></li>
    <li><a routerLink = "/skill-collection-control"><b>Skill Collection Control</b></a></li>

  </ul>
</div>