#skillCancel {
  float: right;
  width: 200px;
}

#skillAdd {
  height: 50px;
  float: left;
  width: 200px;
}

.skillActions {
  margin-bottom: 10px;
  padding-top: 20px;
}

.skillInput {
  width: max-content;
  padding: 20px;
}
