<div id = "itemContainer">
	<mat-accordion>
	  <mat-expansion-panel (opened)="panelOpenState = true"
	                       (closed)="panelOpenState = false">
	    <mat-expansion-panel-header>
	      <mat-panel-title>
	        <b>{{_project.name}}</b>
	      </mat-panel-title>
	      <mat-panel-description>
	        Open : {{_project.openForApplication ? 'Yes' : 'No'}}
	      </mat-panel-description>
	    </mat-expansion-panel-header>
	    <app-project [_project] = "_project"></app-project>
	    <button mat-raised-button class = "btnProject">Update</button>
	    <button mat-raised-button class = "btnProject">Remove</button>
	  </mat-expansion-panel>
	</mat-accordion>
</div>
