<div class="itemContainer" id="{{ _project.id }}">
  <mat-accordion>
    <mat-expansion-panel
      (opened)="panelOpenState = true"
      (closed)="panelOpenState = false"
    >
      <mat-expansion-panel-header>
        <mat-panel-title>
          <b>{{ _project.Name }}</b>
        </mat-panel-title>
        <mat-panel-description>
          Open : {{ _project.OpenForApplication ? "Yes" : "No" }}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <app-project [_project]="_project"></app-project>
      <button
        [routerLink]="['/update-project']"
        routerLinkActive="router-link-active"
        mat-raised-button
        class="btnProject"
      >
        Find Matching Candidates
      </button>
      <button mat-raised-button class="btnProject" (click)="delete(_project)">
        Remove Project
      </button>
      <button mat-raised-button class="btnProject" (click)="update(_project)">
        Update
      </button>
    </mat-expansion-panel>
  </mat-accordion>
</div>
