// .mat-stepper-horizontal {
//   margin-top: 8px;
//   margin-left: auto;
//   margin-right: auto;
// }

.stepform {
  margin-top: 16px;
  margin-left: auto;
  margin-right: auto;
}

.mat-form-field {
  width: 80%;
  margin-left: 10%;
  margin-right: auto;
}

.next {
  margin-right: 5%;
  float: right;
}

.back {
  margin-left: 5%;
}

.adding-title {
  float: left;
}

.adding {
  float: right;
  // display: inline;
}

.stepper {
  background-color: blue;
  height: 600px;
  min-width: none;
}

.fillIn {
  // background-color: red;
  min-width: 400px;
}

::ng-deep mat-horizontal-stepper,
mat-horizontal-stepper {
  // border: dashed 1px blue;
  padding: 1em;
  height: 600px;
}

::ng-deep mat-horizontal-stepper,
mat-horizontal-stepper {
  background-color: red;
  height: 600px;
}

::ng-deep #cdk-step-content-0-1 {
  background-color: blue;
  height: 400px;
}

.create-card {
  width: 70%;
  height: 700px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  color: purple;
  box-shadow: 1px 10px 10px #888888;
  background-image: linear-gradient(90deg, #f5e6cc 0%, #ebedee 100%);
}

.create-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}
