.stepform {
  margin-top: 16px;
  margin-left: auto;
  margin-right: auto;
}

.mat-form-field {
  width: 80%;
  margin-left: 10%;
  margin-right: auto;
}

.next,
.back {
  height: 80px;
  width: 150px;
  margin-top: 15%;
}

.back {
  float: left;
}

.next {
  float: right;
}

.adding-title {
  float: left;
}

.adding {
  float: right;
}

::ng-deep mat-horizontal-stepper,
mat-horizontal-stepper {
  padding: 1em;
  height: 600px;
}

::ng-deep #cdk-step-content-0-1 {
  height: 450px;
}

.stepper-card {
  color: purple;
}

.create-card {
  width: 50%;
  height: 670px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  color: purple;
  box-shadow: 2px 2px 10px #000000;
  background-image: linear-gradient(90deg, #f5e6cc 0%, #ebedee 100%);
}

.create-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}
