<mat-card class="create-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <div style="text-align: center">
      <mat-card-title>New Project Creation</mat-card-title>
    </div>
  </mat-card-header>
  <mat-card-content>
    <mat-card class="stepper-card">
      <mat-card-content>
        <form [formGroup]="projectBasicInfo" class="stepform">
          <ng-template matStepLabel>Step 1</ng-template>
          <mat-form-field appearance="outline">
            <mat-label>Project Name</mat-label>
            <input
              matInput
              placeholder="Project X"
              formControlName="projectName"
              required
            />
          </mat-form-field>

          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Project Description</mat-label>
            <textarea
              matInput
              placeholder="..."
              formControlName="projectDescription"
              required
            ></textarea>
          </mat-form-field>
        </form>

        <mat-card>
          <mat-card-content>
            <p>Skills in Search for:</p>
            <br />
            <!-- {{ editingProjectSkills }} -->
            <br />
            <br />
            <p>Collections in Search for:</p>
            <br />
            <!-- {{ editingProjectCollections }} -->
          </mat-card-content>
        </mat-card>
      </mat-card-content>
    </mat-card>

    <br />

    <!-- [stepControl]="projectSkillsAndCollections" -->

    <mat-card class="stepper-card">
      <mat-card-content>
        <h1 class="adding-title">Skills</h1>
        <button
          mat-icon-button
          color="primary"
          (click)="addSkill()"
          class="adding"
        >
          <mat-icon>add_circle</mat-icon>
        </button>
        <br />
        <br />
        <ng-multiselect-dropdown
          [placeholder]="'Search A Skill'"
          [settings]="dropdownSettings"
          [data]="dropdownListForSkills"
          [(ngModel)]="selectedItemsForSkills"
          (onSelect)="onItemSelect($event)"
          (onSelectAll)="onSelectAll($event)"
          allowRemoteDataSearch
        >
        </ng-multiselect-dropdown>

        <br />

        <button
          mat-icon-button
          color="primary"
          (click)="addCollection()"
          class="adding"
        >
          <mat-icon>add_circle</mat-icon>
        </button>
        <h1 class="adding-title">Collections</h1>

        <br />
        <br />

        <ng-multiselect-dropdown
          [placeholder]="'Search A Collection'"
          [settings]="dropdownSettings"
          [data]="dropdownListForCollections"
          [(ngModel)]="selectedItemsForCollections"
          (onSelect)="onItemSelect($event)"
          (onSelectAll)="onSelectAll($event)"
        >
        </ng-multiselect-dropdown>
        <br />
        <br />

        <mat-slide-toggle color="primary"
          >Project is Open for Application</mat-slide-toggle
        >
        <br />
      </mat-card-content>
    </mat-card>
    <button mat-stroked-button color="warn" class="back">Back</button>
    <button
      mat-raised-button
      color="primary"
      class="next"
      (click)="createTheProject()"
    >
      Create Project
    </button>
  </mat-card-content>
</mat-card>

<!-- <div class="wrapper">
  <h1>Update Project Details</h1>
  <form [formGroup]="projectInfo" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <mat-label>Project Name</mat-label>
      <input formControlName="projectName" matInput />
      <mat-error
        *ngIf="projectInfo.controls['projectName'].hasError('required')"
      >
        The project name is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <br />

    <mat-form-field>
      <mat-label>Description</mat-label>
      <input formControlName="description" matInput />
      <mat-error
        *ngIf="projectInfo.controls['description'].hasError('required')"
      >
        The description of the project is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <br />

    <mat-form-field>
      <mat-label>Skills Required</mat-label>
      <mat-select formControlName="skill" multiple>
        <mat-option
          style="color: black"
          *ngFor="let skill of skills"
          [value]="skill"
          >{{ skill }}</mat-option
        >
      </mat-select> </mat-form-field
    ><br />

    <mat-form-field>
      <mat-label>Is the Project open for Applications?</mat-label>
      <mat-select formControlName="openForApplication">
        <mat-option style="color: black" *ngFor="let o of open" [value]="o">{{
          o
        }}</mat-option>
      </mat-select> </mat-form-field
    ><br />

    <button
      id="submit"
      class="btn btn-primary"
      type="submit"
      [disabled]="projectInfo.invalid"
      value="submit"
    >
      submit</button
    >&nbsp;
    <button id="cancel" class="btn btn-danger" (click)="cancel()">
      cancel
    </button>
  </form>
</div> -->
