<mat-accordion>
    <mat-expansion-panel opened>
      <mat-expansion-panel-header>
        <mat-panel-title class="as-title">
          Show Existing Collection Of Skills
        </mat-panel-title>
      </mat-expansion-panel-header>

      <app-collection-card
  *ngFor="let collection of _collections"
  [card_collection]="collection"
></app-collection-card>

      <!-- <p class="options">Front-End Development </p>
      <p class="options">Back-End Development </p>
      <p class="options">Mobile App Development</p>
      <p class="options">Desktop App Development</p> -->
    </mat-expansion-panel>

    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Add A Collection of Skills
        </mat-panel-title>
      </mat-expansion-panel-header>

      <mat-form-field appearance="outline">
    <mat-label>Collection Name</mat-label>
    <input matInput placeholder="Back-End Dev" required>
    <mat-icon matSuffix>text_fields</mat-icon>
    </mat-form-field>


<section class="example-section" [formGroup]="category">
    <!-- <h4>Select Category:</h4> -->
    <!-- <p><mat-checkbox formControlName="FrontEnd" ngDefaultControl>Front End Development</mat-checkbox></p>
    <p><mat-checkbox formControlName="BackEnd" ngDefaultControl>Back End Development</mat-checkbox></p>
    <p><mat-checkbox formControlName="Mobile" ngDefaultControl>Mobile Development</mat-checkbox></p>
    <p><mat-checkbox formControlName="Desktop" ngDefaultControl>Desktop Development</mat-checkbox></p> -->

    <mat-form-field>
      <mat-label>Select skills to add</mat-label>
      <mat-select formControlName="FrontEnd" multiple>
        <mat-option>
            React     
        </mat-option>
        <mat-option>
          Java     
      </mat-option>
      <mat-option>
        Pascal     
    </mat-option>
    <mat-option>
        C++    
    </mat-option>
    <mat-option>
      Angular     
  </mat-option>
      </mat-select> 
    
    </mat-form-field>
    <br />


  </section>

      <mat-action-row>
        <button mat-button color="warm" (click)="cancel()">Cancel</button>
        <button mat-button color="primary" (click)="addSKill()">Submit</button>
      </mat-action-row>
      
    </mat-expansion-panel>
  </mat-accordion>