<mat-card id = "card">
  <div>
    <h2><b>Select user group</b></h2>
    <mat-radio-group
      aria-labelledby = "example-radio-group-label"
      class="example-radio-group"
      [(ngModel)]="data">
      <mat-radio-button class="example-radio-button" *ngFor="let type of Usertype" [value]="type.value">
        {{type.text}}
      </mat-radio-button>
    </mat-radio-group>

    <div mat-dialog-actions>
      <button mat-button [mat-dialog-close] = "data" cdkFocusInitial>Ok</button>
    </div>
  </div>
</mat-card>