#user-searchbar{
    width: 95%;
}

#btnUserGroup{
    width: 95%;
    margin-top: 20px;
}

#btnAdvanced{
    margin-top: 20px;
    background-color: #f5d142;
}

#btnViewAll{
    margin-left: 20px;
    background-color: #f5d142;
}

#card{
    background-color: #e6ffff;
}

h1,#card{
    margin: 15px;
}