<div class = "container">
    <div class = "row">
        <div class = "col-sm-4">
            <app-sidebar></app-sidebar>
        </div>
        <div class = "col-sm-8">

<h1>Project Control</h1>

<mat-card id = "card">

    <form class="form-inline">
        <input class="form-control" type="text" placeholder="Search Project" aria-label="Search"
        mdbInput id = "user-searchbar">
    </form>
    
    <div id = "btnUserGroup">
        <button mat-raised-button id = "btnAdvanced" (click)="advancedSearch()">Advanced Search</button>
        <button mat-raised-button id = "btnViewAll" (click)="viewAll()">View All</button>
    </div>

    <app-admin-project-card *ngFor = "let project of data" [project] = "project" class = "user-info"></app-admin-project-card>
</mat-card>
</div>
</div>
</div>
