


<mat-card id = "card">
    <h1 style = "color: black"><b>Project Control</b></h1>

    <form class="form-inline user-searchbar" (ngSubmit) = "Search()">
        <mat-form-field appearance="outline" style = "width: 100%">
            <input
              matInput
              placeholder="Search User"
              class = "user-searchbar"
              [(ngModel)]  = "searchTerm"
              name = "searchTerm"
            />
        </mat-form-field>
    </form>
    
    <div id = "btnUserGroup">
        <button mat-raised-button id = "btnAdvanced" (click) = "advancedSearch()">
            <mat-icon svgIcon="advanced" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
            filter
          </button>
  
          <button mat-raised-button id = "btnViewAll" (click) = "viewAll()">
            <mat-icon svgIcon="all" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
            view all
          </button>
    </div>
    
    <div class="content">
        <div fxLayout="row wrap" fxLayoutGap="16px grid">
          <div fxFlex="25%" fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="33.33%" *ngFor = "let project of data">
            <app-admin-project-card class="mat-elevation-z4"  [project] = "project" (onDeleteUser)="deleteUser(user)">

            </app-admin-project-card >
          </div>
        </div>
    </div>
</mat-card>
