#SHdiv{

    margin-top:0%;
    margin-bottom: 5%;
    background-color: #93A8AC;
    padding-top: 0.6%;
  }
  
 #SH{
    font-size: 40px;
    font-family: 'Staatliches', cursive;
  }
  
#registerL{
  
    font-size: 25px;
  }

  .wrapper {
    display: flex;
    flex-direction: column; 
    width: 100%;
    padding: 20px;
    text-align: center;
  }

  .registrationForm {
    width: 55%;
    margin-left: auto;
    margin-right: auto;
  }

  .field{
    width:50%;
    font-size: 20px;
    }

    #register{
        margin-top:3%;
        width:50%;
      }
 